@import "../../assets/styles/css-variables.scss";

button,
.btn {
  color: white !important;
  background: rgb(0, 87, 255) !important;
  font-family: $normal-text;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}
