@import "../styles/css-variables.scss";

.about-slider {
  padding-top: 80px;
  // height: 400px;
  // margin-bottom: 200px;

  @include md {
    padding-top: 140px;
    padding-bottom: 160px;
  }

  // h2 {
  //   margin-bottom: 60px;

  //   @include md {
  //     margin-bottom: 60px;
  //   }
  // }
}
