@import "./css-variables.scss";

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app {
  height: 100vh;
  width: 100vw;
}

.image_filter {
  filter: invert(1);
  object-fit: cover;
}

.page-wrap {
  margin-top: 80px;
}

.bg-light-green {
  background: #2fc904 !important;
}
.bg-light-red {
  background: #dc1f1f !important;
}

.toast {
  p {
    font-size: 16px !important;
  }

  .btn-close {
    width: 25px !important;
    height: 25px !important;
  }
}
