@import "../../assets/styles/css-variables.scss";

.login-user {
  height: 200px;

  @include md {
    height: 300px;
  }
  @include lg {
    width: 400px;
  }
  .user {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

form {
  // background-color: #f9c04d;
  background-color: #fff;
  box-shadow: 12px 12px 32px rgba(0, 87, 255, 0.2);
  padding: 40px;
  border-radius: 12px;

  label {
    font-weight: 700;
  }

  input {
    margin-bottom: 20px;

    @include md {
      margin-bottom: 10px;
    }
  }

  .visible {
    width: 18px;
    cursor: pointer;
  }

  button {
    &:hover {
      transform: scale(1) !important;
    }
  }
}
